.deck
  font-family sans-serif
  font-size 3rem

h1, h2, h3, h4, h5, h6
  font-family Nunito, sans-serif
  line-height 1
  margin 0

p, ul
  margin 0.5em 0 0 0

ul
  padding 0
  list-style none
  ul
    margin 0 0 0 1em

.line
  display block

.bespoke-overview .bespoke-active
  outline 10px solid #fdd835
  outline-offset 0
