blockquote.twitter-tweet
  visibility hidden

twitterwidget.twitter-tweet
  transform scale(3) !important
  pointer-events none
  &::shadow
    .EmbeddedTweet
      border none
    .Tweet-brand, .tweet-InformationCircle, img.Emoji
      display none

figure.cover
  img
    width 100%
  figcaption
    position absolute
    left 0
    bottom 0
    right 0
    height 5rem
    font-size 2.5rem
    display flex
    justify-content center
    align-items center
    font-family $family-monospace
    background rgba($c-black-bis, 0.95)
    color $c-white-bis
