blockquote.twitter-tweet
  visibility hidden

twitterwidget.twitter-tweet
  transform scale(2.5) !important
  pointer-events none
  &::shadow
    .EmbeddedTweet
      border none
    .Tweet-brand, .tweet-InformationCircle, img.Emoji
      display none
