$slide-width = 1280px
$slide-height = 720px

$c-black = #000
//$c-black-bis = #212121
$c-black-bis = #191919
$c-white = #fff
$c-white-bis = #fafafa

//$c-pri = #f50057 // A400 from material design
//$c-pri = #ed1248 // value from SVG experiment
//$c-pri = #ea1048
//$c-pri = #db0f4d
//$c-pri = #db0f49 // <-
//$c-pri = #ee144d
$c-pri = #ed124b
$c-pri-neg = $c-white

$text = #212121

pct(val, percentage)
  val * (percentage / 100)

sw(percentage)
  pct($slide-width, percentage)

sh(percentage)
  pct($slide-height, percentage)
